
.brand-item ul li img{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    max-height: 70%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}


.table-bordered img {
    max-width: 45px;
}

.main-search {
    display: flex;
    align-items: center;
}
.main-search .search-brand {
    border: 1px solid #ced4da;
    height: 34px;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 10px;
}
.main-search .search-btn {
    border: 1px solid #ced4da;
    height: 34px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}
.sub-header {
    margin-top: 20px;
}





